{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Fuzzy plugin for Craft CMS 3.x
 *
 * FuzzyEvent Field Input
 *
 * @author    John Clark
 * @copyright Copyright (c) 2020 John Clark
 * @link      https://github.com/mckenzieclark
 * @package   Fuzzy
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("mckenzieclark\\fuzzy\\assetbundles\\fuzzy\\FuzzyAsset") %}

{% set months = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
  'July',
  'August',
  'September',
  'October',
  'November',
  'December'
] %}


  {{ forms.selectField({
      label: 'Event Type',
      id: '123-title',
      name: 'events[new-1][eventType]',
      options: settings.eventTypes|map((s, idx) => { label: s.name, value: s.name }),
      value: ''})
  }}

{{ forms.textField({
    label: 'Title',
    id: '123-title',
    name: '{{ name }}[][eventTitle]',
    value: 'Army draft'})
}}

<div class="field">
  <div class="heading"><label>Date</label></div>
  <div class="select">
    <select name="{{ name }}[new-1][day]" class="select">
      <option value="">Day</option>
      {% for i in 1..31 %}
        <option value="{{ i }}">{{ i }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="select">
    <select name="{{ name }}[new-1][month]">
      <option value="">Month</option>
      {% for i in months %}
        <option value="{{ loop.index }}">{{ i }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input inline year">
    <input type="text" name="{{ name }}[new-1][year]" value="" placeholder="Year">
  </div>
</div>

{% for key, e in value %}

  {{ forms.textField({
      label: 'Title',
      id: '123-title',
      name: 'events[123][eventTitle]',
      value: 'Army draft'})
  }}

  <div class="select">
    <select name="{{ name }}[{{ key }}][day]" class="select">
      <option value="">Day</option>
      {% for i in 1..31 %}
        <option value="{{ i }}" {% if e.day == i %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="select">
    <select name="{{ name }}[{{ key }}][month]">
      <option value="">Month</option>
      {% for i in months %}
        <option value="{{ loop.index }}" {% if e.month == loop.index %}selected{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input inline year">
    <input type="text" name="{{ name }}[{{ key }}][year]" value="{{ e.year }}" placeholder="Year">
  </div>

{% endfor %}
